{% extends 'engine/engine_base.html' %}
{% block more_css_in_head %}
   
    <script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="/static/fonts/fonts.css">
                    <script src="/static/js/jquery-cookie-master/jquery-cookie-master/src/jquery.cookie.js"></script>

{% endblock %}
{% block title_tag %} Browse Leaseful {{data.area}} Listings {% endblock %}

{% block left_sidebar %}

{% endblock %}
{% block content %}
    <div class="dash">
        <div class="content">
            <div class="search">
                <div class="left col-md-7 col-sm-12 col-xs-12 nhp">
                    <form class="controls">
                        <div class="row cf">
                            <div class="lab l col-md-2">Area</div>
                            <div class="inp r col-md-10">
                                <div class="select">
                                    <select id="select" class="bgwhiteimp">
                                        
                                         <option value="University of Arizona" >Arizona (UA) - coming soon</option>
                                    <option value="Florida State University">Florida State (FSU) - coming soon</option>
                                    <option value="University of Georgia">Georgia (UGA) - coming soon</option>
                                    <option value="Georgia Tech">Georgia Tech (GT) - coming soon</option>
                                    <option value="University of Michigan" selected="selected">Michigan (UM)</option>  
                                    <option value="Southern Methodist University" >Southern Methodist (SMU) - coming soon</option>
                                    <option value="Texas Christian University">Texas Christian (TCU) - coming soon </option>
                                    <!--
                                    <option value="Georgetown University ">Georgetown</option>
                                    <option value="University of Florida">University of Florida</option>
                                    
                                    <option value="University of South Carolina">USC</option>
                                -->
                                    <option value="University of Texas">Texas (UT) - coming soon</option>
                                    <!--
                                    <option value="Dallas">Dallas</option>
                                    <option value="Los Angeles">Los Angeles</option>
                                    <option value="New York City">NYC</option>
    -->
                                    </select>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="row cf">
                            <div class="lab l col-md-2">Dates</div>
                            <div class="inp r dates col-md-10">
                                <input type="text" placeholder="Check In" id="ci" value="" />
                                <input type="text" placeholder="Check Out" id="co" value="" />
                                <div class="select" style="height:32px;padding:5px 15px;">
                                    <select id="guests">
                                        <option selected="selected" value="1">1 Guest</option>
                                        <option value="2">2 Guests</option>
                                        <option value="3">3 Guests</option>
                                        <option value="4">4 Guests</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row type cf">
                            <div class="lab l col-md-2">Housing Type</div>
                            <div class="inp r col-md-10">
                                <div class="radio selectedx" data-id="pta">
                                    <span><i class="icon icon-thin-0959-city-flat-homes swagful"></i> Apartment</span>
                                </div>
                                <input type="checkbox" checked="checked" id="pta" style="display:none;" />
                                    <!--
                                <div class="radio">
                                    <input type="checkbox" checked="checked" id="twn" /><span>Townhouse</span></div>
                                -->
                                <div class="radio selectedx" data-id="pth">
                                   <span><i class="icon icon-thin-0046-home-house swagful"></i>House</span>
                                </div>
                                 <input type="checkbox" checked="checked" id="pth" style="display:none;" />
                                <!--
                                <div class="radio">
                                    <input type="checkbox" checked="checked" id="lft" /><span>Loft</span></div>
                                <div class="radio">
                                    <input type="checkbox" checked="checked" id="oth" /><span>Other</span></div>
                                <div class="radio">
                                    <input type="checkbox" checked="checked" id="flt" /><span>Flat</span></div>
                                
                                --><div class="radio selectedx" data-id="cdo">
                                
                                     <i class="icon icon-thin-0960-city-house-home swagful"></i> <span>Condo</span>
                                </div>
                                <input type="checkbox" checked="checked" id="cdo" style="display:none;" />
                                <!--<div class="radio">
                                    
                                    <input type="checkbox" checked="checked" id="dpx" /><span>Duplex</span></div>
                                -->
                            </div>
                        </div>
                        <div class="row type cf">
                            <div class="lab l col-md-2">Room Type</div>
                            <div class="inp r col-md-10">
                                <div class="radio selectedx" data-id="eth">
                                    <span><i class="icon icon-thin-0045-home-house swagful"></i>Entire Home</span>
                                </div>
                                  <input type="checkbox" checked="checked" id="eth" style="display:none;"/>

                                <div class="radio selectedx" data-id="prr">
                                    <span><i class="icon icon-thin-0576-door-exit-emergency-logout swagful"></i> Private Room</span>
                                </div>
                                <input type="checkbox" checked="checked" id="prr" style="display:none;"/>

                                <div class="radio selectedx" data-id="shr">
                                    <span><i class="icon icon-thin-0932-sofa-armchair swagful"></i> Shared Room</span>
                                </div>
                                <input type="checkbox" checked="checked" id="shr" style="display:none;"/>
                               
                            </div>
                        </div>
                        <div class="row range cf">
                            <div class="lab l col-md-2">Price Range</div>
                            <div class="inp r col-md-10">
                                <div class="drag">
                                    <div class="line" id="price-slider"></div>
                                    <div class="labs cf">
                                        <div class="lab1 labprice l" id="pricelo">0</div>
                                        <div class="lab3 labprice r" id="pricehi">4000</div>
                                        <div class="lab2">Per Week</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="results">
                        <div class="title" id="result-cnt"></div>
                        <div class="cf" id="ct">

                        </div>
                    </div>
                
                
            </div>
            <div class="map col-md-5 col-sm-12 col-xs-12" id="map"></div>
                </div>
            <a href="/d/listing/1" class="tpl item l search-result hide">
                <div class="picture"></div><img class="person" />
                <div class="info"><span class="price"></span><span class="desc"></span></div>
            </a>
            <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
            <script>
                /*
                window.searchOpts = {
                    "guests": 1,
                    "area": "Florida State University"
                };
                */
            </script>
            <script src='/static/js/browse.js'></script>
        </div>

    </div>
  
{% endblock %}

{% block more_js_scripts %}
    <script>
    window.initial_filter = false;
    function do_first_filter(){
        if(!window.initial_filter){
            if('{{data.area}}' !== ''){
                $('#select').val('{{data.area}}'); 
            }
            if('{{data.ci}}' !== '' || '{{data.co}}' !== ''){
                var ci_co_obj = {
                    ci: '{{data.ci}}' || null,
                    co: '{{data.co}}' || null,
                }
                Template.events.dates.showGETDates(ci_co_obj);
            }

            if('{{data.guests}}' !== ''){
                $("#guests").val('{{data.guests}}');
            }
            window.initial_filter = true;
            return Map.moveMap(Map.redraw);
        }
    }
    do_first_filter();  
        
    </script>
{% endblock %}