{% extends 'engine/engine_base.html' %}

{% block content %}
<div class="tab-content vbvb">
		    <div role="tabpanel" class="tab-pane active" id="home">
		    	<h2> Welcome to AfricanaWiki Data</h2>
		    	<p> If you're here seeing this, you are witnessing the birth of the first Pan-African Knowledge Database. Check out the latest dataset: </p>
		    	<p> <a href="/geo/minority_businesses" class="btn btn-success"> Visualized Geodata: United States Minority Businesses </a>
		    	</div>
		    <div role="tabpanel" class="tab-pane" id="requests">
		    	{% for r in requests %}
		    		<p><a href="{% url 'invitation_request_detail' pk=r.pk slug=r.slug %}">{{r}}</a></p>
		    	{% empty %}
		    		No invitation requests presently.
		    	{% endfor %}
		    </div>
		</div>
{% endblock %}