<html>
	<head>
		{% block title_block %}
		<title>
			AfricanaWiki Data
		</title>
		{% endblock %}
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>	

		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"></script>

		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.1/bootstrap-social.min.css"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" type="text/css" rel="stylesheet"/>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
		{% block more_css_in_head %}

		{% endblock %}
	</head>
	<body class="black">
        <header class="cd-main-header headera">
	<a href="/" class="cd-logo">
		<span class="sbimagesm">
							<img src="/static/img/africanawiki3.png" alt="africanawiki" />
						</span>AfricanaWiki Data 
	</a>
	<!--
	<div class="cd-search">
		<form action="#0">
			<input type="search" placeholder="Search...">
		</form>
	</div> <-\- cd-search -->
 
	<a href="#0" class="cd-nav-trigger">Menu<span></span></a>
 
	<nav class="cd-nav">
		<ul class="cd-top-nav">
			{% if request.user.is_authenticated %}
			<li><a href="/dashboard">Dashboard</a></li>
			{% else %}
			<li><a href="/public_datasets">Datasets</a></li>
			{% endif %}
			<li><a href="http://africanawiki.org/wiki">Wiki</a></li>
			{% if request.user.is_authenticated %}
			<li><a href="/api">API</a></li>
			{% endif %}
			{% if request.user.is_authenticated %}
			<li class="has-children account">
				<a href="/accounts/logout">
					Logout
				</a>
			</li>
			{% else %}
			<li class="has-children account">
				<a href="/accounts/login">
					Login
				</a>
			</li>
			{% endif %}
		</ul>
	</nav>
</header> <!-- .cd-main-header -->
 
<main class="cd-main-content">
	<nav class="cd-side-nav">
		<ul role="tablist">
			{% block left_sidebar %}
			<li class="cd-label">Main</li>
			<li class="overview" role="presentation" class="active">
				<a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a>
			</li>
			{% if request.user.is_authenticated %}
			<li class="overview" role="presentation">
				<a href="#requests" aria-controls="requests" role="tab" data-toggle="tab">Invitation Requests</a>
			</li>
			<li class="overview" role="presentation" class="active">
				<a href="/invite_user">Invite a User</a>
			</li>
			{% endif %}
			<li class="cd-label">Datasets</li>
			{% if request.user.is_authenticated %}
			<li class="overview">
				<a href="/geo/minority_businesses">Minority Businesses</a>
			</li>
			{% endif %}
 			{% endblock %}
			<!-- other list items here -->
		</ul>
 
		<!-- other unordered lists here -->
	</nav>
 
	<div class="content-wrapper">
		{% block content %}
		
		{% endblock %}
	</div> <!-- .content-wrapper -->
</main> <!-- .cd-main-content -->
		{% block more_js_scripts %}

		{% endblock %}
	</body>
</html>