{% extends 'engine/engine_anon_base.html' %}

{% block content %}
<h2> Request an Invite to AfricanaWiki Data </h2>
<form action="." method="post" style="margin-bottom:30px;" enctype="multipart/form-data">
	{% csrf_token %}
{{form.as_p}}
<input type="submit" class="btn btn-success" value="Request An Invite" />
</form>
<script>
      $("input").each(function(i, item) {

                    if (!$(item).hasClass('form-control')) {
                        if (item.type !== 'checkbox') {
                            $(item).addClass('form-control nbr fcc');
                        }
                    }
                    if (item.value !== "") {
                        item.title = item.placeholder;
                        $(item).attr('data-toggle', 'tooltip');
                    }
                    
                });
      $('#id_email').attr('placeholder','Email Address (required)');
                    $('label[for="id_email"]').remove();

                    $('#id_full_name').attr('placeholder','Full Name (required)');
                    $('label[for="id_full_name"]').remove();

                    $('#id_desired_username').attr('placeholder','Desired Username (required)');
                    $('label[for="id_desired_username"]').remove();

                    $('#id_facebook_url').attr('placeholder','Facebook URL');
                    $('label[for="id_facebook_url"]').remove();

                    $('#id_twitter_url').attr('placeholder','Twitter URL');
                    $('label[for="id_twitter_url"]').remove();

                    $('#id_linkedin_url').attr('placeholder','LinkedIn URL');
                    $('label[for="id_linkedin_url"]').remove();

                    $('#id_github_url').attr('placeholder','Github URL');
                    $('label[for="id_github_url"]').remove();

                    $('#id_reddit_url').attr('placeholder','Reddit URL');
                    $('label[for="id_reddit_url"]').remove();

                    

                    $('#id_captcha_1').attr('placeholder',"Captcha Code (so we know you're not a robot)");

                    $('label[for="id_bio"]').remove();
                    $('textarea').attr('placeholder','Bio').css({'width':'100%'});
      </script>
{% endblock %}

