{% extends 'engine/engine_base.html' %}

{% block more_css_in_head %}
	<style>
		input{
			color:#222
		}
	</style>
{% endblock %}
{% block left_sidebar %}
      <li class="cd-label">Main</li>
      <li class="overview" role="presentation" class="active">
        <a href="/dashboard" >Home</a>
      </li>
      <li class="cd-label">Datasets</li>
      <li class="overview">
        <a href="/geo/minority_businesses">Minority Businesses</a>
      </li>
      
      {% endblock %}
{% block content %}


      
<div class="vbvb">
	<h2> Invite a User to AfricanaWiki Data </h2>
	<form action="." method="post">
		{% csrf_token %}
		{{form.as_p}}

		<input type="submit" class="btn btn-success" value="Invite" />
	</form>
</div>

<script>
function get(name){
   if(name=(new RegExp('[?&]'+encodeURIComponent(name)+'=([^&]*)')).exec(location.search))
      return decodeURIComponent(name[1]);
}
if (get('email')){
	$('#id_email').val(get('email'));
}
</script>

{% endblock %}