{% extends 'engine/engine_anon_base.html' %}

{% block content %}
{% if not request.user.is_authenticated %}
{% for m in messages %}
{{m}}

{% empty %}
{% endfor %}
{% endif %}
<h2> {{object}}'s Invitation Request </h2>
<p> Email: {{object.email}} </p>
<p> Full Name: {{object.full_name}} </p>
<p> Facebook URL: {{object.facebook_url}} </p>
<p> Twitter URL: {{object.twitter_url}} </p>
<p> Linkedin URL: {{object.linkedin_url}}</p>
<p> Github URL: {{object.github_url}} </p>
<p> Reddit URL: {{object.reddit_url}} </p>
<p> Timestamped Photo: <img src="/media/{{object.timestamped_photo}}" /></p>
<p> Bio: {{object.bio}} </p>

{% if request.user.is_authenticated %}
<a class="btn btn-success" href="/invite_user?email={{object.email}}"> Invite User </a>
{% endif %}
{% endblock %}