<html>
	<head>
		<title>
			AfricanaWiki Data
		</title>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>	

		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"></script>

		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.1/bootstrap-social.min.css"></script>

		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	</head>
	<body class="black">
		<div class="aw">
			<nav class="navbar navbar-inverse headera navbar-default navbar-fixed-top " role="banner">
				<div class="col-md-12">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand apologo" href="{% url 'home' %}">
                    	<span class="sbimagesm">
							<img src="/static/img/africanawiki3.png" alt="africanawiki" />
						</span>AfricanaWiki Data 
                    </a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                    	{% if not request.user.is_authenticated %}
                        <li><a href="/public_datasets">Datasets</a></li>
                        {% else %}
                        <li><a href="/dashboard">Dashboard</a></li>
                        {% endif %}
                        <li><a href="//africanawiki.org/wiki">Wiki</a></li>
                        {% if request.user.is_authenticated %}
                        <li><a href="/api/">API</a></li>
                        {% endif %}
                        {% if not request.user.is_authenticated %}
                        <li><a href="/accounts/login/">Login</a></li>
                        {% else %}
                        <li><a href="/accounts/logout/">Logout</a></li>
                        {% endif %}
                        <!--
                        <li><a href="/_exploration">Exploration</a></li>
                        <li><a href="/about">About</a></li>               -->         
                    </ul>
                </div>
            </div><!--/.container-->
			</nav>
			{% block content %}
			
		
			{% endblock %}
		</div>
	</body>
</html>