{% extends 'engine/engine_base.html' %}
{% block more_css_in_head %}
	{% block title_block %}	<title> Map </title> {% endblock %}
		<style>
			
			.mapcontainer,#map{
				width:100%;
				height:100%;
			}
			.business_name_search{
				padding:3px 6px;
			}
.county {
  position:absolute;
  top:10px;
  right:10px;
  z-index:1000;
  }
  .county strong {
    background:#404040;
    color:#fff;
    display:block;
    padding:10px;
    border-radius:3px;
    }
.overlay{
	width:100%;
	height:100%;
	background:#111;
	position:fixed;
	z-index:1000;
}
.progress {
  width: 400px;
  z-index:1100;
  max-width: 85vw;
  height: 4px;
  position: absolute;
  bottom: 50vh;
  left: 50%;
  border-radius: 4px;
  background: rgba(255,255,255,0.5);
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.progress:after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: #fff;
  animation: load 15s linear;
}
@-moz-keyframes load {
  0% {
    width: 0;
  }
  10% {
    width: 5%;
  }
  20% {
    width: 15%;
  }
  30% {
    width: 25%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 44%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 72%;
  }
  80% {
    width: 84%;
  }
  90% {
    width: 92%;
  }
  100% {
    width: 100%;
  }
}
@-webkit-keyframes load {
  0% {
    width: 0;
  }
  10% {
    width: 5%;
  }
  20% {
    width: 15%;
  }
  30% {
    width: 25%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 44%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 72%;
  }
  80% {
    width: 84%;
  }
  90% {
    width: 92%;
  }
  100% {
    width: 100%;
  }
}
@-o-keyframes load {
  0% {
    width: 0;
  }
  10% {
    width: 5%;
  }
  20% {
    width: 15%;
  }
  30% {
    width: 25%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 44%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 72%;
  }
  80% {
    width: 84%;
  }
  90% {
    width: 92%;
  }
  100% {
    width: 100%;
  }
}
@keyframes load {
  0% {
    width: 0;
  }
  10% {
    width: 5%;
  }
  20% {
    width: 15%;
  }
  30% {
    width: 25%;
  }
  40% {
    width: 30%;
  }
  50% {
    width: 44%;
  }
  60% {
    width: 50%;
  }
  70% {
    width: 72%;
  }
  80% {
    width: 84%;
  }
  90% {
    width: 92%;
  }
  100% {
    width: 100%;
  }
}
.search_parameters{
	max-height: 150px;
    background:rgba(45, 45, 45, 0.90);
    z-index: 1000;
    min-height: 100px;
    position: absolute;
    border: 1px solid #333;
    color: #ddd;
    margin-top:30px;
    padding: 5px 2% 10px 3%;
}
.spb{
	margin:3px;
}
select{
	background:#222;
	border-radius:3px;
	border: 1px solid #555;
	padding:3px;
	color:#ddd;
	font-family: 'Blenda'!important;
	font-size:12px;
}
input{
	background:#222;
	border-radius:3px;
	border:1px solid #555;
	padding:3px;
	color:#ddd;
	font-family: 'Blenda'!important;
				font-size:12px;
}
.leaflet-left{
  margin-top:30px;
}
.awlogo{
	height:40px;
	margin:5px;
}
.awlogo img{
	max-height:100%;
	max-width:100%;
	display:block;
}
.popupclass{
	background:rgba(45, 45, 45, 0.90);
	color:#ddd;
	border: 1px solid #333;
	padding:15px;
}
.leaflet-popup-content-wrapper, .map-legends, .map-tooltip {
background:transparent!important;
padding:15px!important;
}
.leaflet-popup-content {
    padding: 10px 10px 0px;
    margin: 0;
    line-height: inherit;
}
		</style>
		<script>
		Cookie = {}
		Cookie.getCookie = function(name) {
		        var cookieValue = null;
		        if (document.cookie && document.cookie != '') {
		            var cookies = document.cookie.split(';');
		            for (var i = 0; i < cookies.length; i++) {
		                var cookie = jQuery.trim(cookies[i]);
		                // Does this cookie string begin with the name we want?
		                if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                    break;
		                }
		            }
		        }
		        return cookieValue;
		    }
		 $(document).ready(function(){
		 	$.ajaxSetup({
	          	headers: { "X-CSRFToken": Cookie.getCookie('csrftoken') }
	      	});
		 });   
		</script>
		
		<script src='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.js'></script>
    	<link href='https://api.mapbox.com/mapbox.js/v2.2.2/mapbox.css' rel='stylesheet' />
    	<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-pip/v0.0.2/leaflet-pip.js'></script>
    	<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
{% endblock %}

{% block left_sidebar %}
      <li class="cd-label">Main</li>
      <li class="overview" role="presentation" class="active">
        <a href="/dashboard" >Home</a>
      </li>
      <li class="cd-label">Datasets</li>
      <li class="overview">
        <a href="/geo/minority_businesses">Minority Businesses</a>
      </li>
      {% endblock %}

    {% block content %}
		<div class="overlay fadethese"></div>
		<div class="progress fadethese"></div>
		<div class="mapcontainer">
			<!--
			<div class="search_parameters col-md-3 col-sm-3 col-xs-3">
				
				<div class="state_box spb">
					<!-\-
					<select class="state">
						<option> Any State </option>
					</select>
				-\->
				</div>
				<div class="business_name_search_box spb">
					 <input type="text" class="business_name_search" placeholder="Search Businesses..." />
				</div>

				<div class="business_type_box spb">
					<select class="business_type"> 
						<option> All Business Types </option> 
					</select>

				</div>
				<div class="ownership_self_cert_box spb">
					<select class="ownership">
						<option> Any Minority-Owned </option>
					</select>
				</div>

			</div>
    -->
			<div id="map">

			</div>
			<div id="county" class="county">

			</div>
		</div>

		
{% endblock %}
  
{% block more_js_scripts %}
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="/static/js/browse.js"></script>
{% endblock %}