{% extends 'base.html' %}
{% block content %}
	<div class="aw">
		<div class="searchabox col-md-6 col-md-offset-3">
				<div class="searchalogo col-md-12">
					<div class="sbbranding">
						<div class="sbimage">
							<img src="/static/img/africanawiki3.png" alt="africanawiki" />
						</div>
						<div class="sbaw">
						<a href="/">AfricanaWiki Data</a>
						</div>
					</div>
					<div class="sbbelowb col-md-12 col-xs-12">
						Get the data that matters to you.
					</div>
				</div>
				<div class="searchasb col-md-12">
					<div class="col-md-6">
						<a class="btn btn-block btn-social btn-google aaa" href="/public_datasets"> 
							<span class="fa fa-area-chart qqq"></span> Public Data (Limited)
						</a>
					</div>
					<div class="col-md-6">
						<a class="btn btn-block btn-social btn-microsoft aaa" {% if not request.user.is_authenticated %} href="/accounts/login" {% else %} href="/dashboard" {% endif %}> 
							<span class="fa fa-key qqq"></span> 
							{% if request.user.is_authenticated %}
							Private Data Access
							{% else %}
							Login
							{% endif %}
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bw">
		<a class="btn btn-block btn-social btn-vimeo aaa yyy" {% if not request.user.is_authenticated %} href="/request_an_invite" {% else %} href="/invite_user" {% endif %}> 
							<span class="fa fa-envelope qqq"></span> {% if not request.user.is_authenticated %}Request an Invite{% else %} Invite Users {% endif %}
						</a>
	</div>
{% endblock %}