{% extends 'engine/engine_base.html' %}

{% block content %}
<div class="vbvb">
	<h2> No Public Datasets at this time. </h2>
	
	{% if request.user.is_authenticated %}
	<a href="/dashboard" class="btn btn-info"> Get Access to Private Data</a>
	{% else %}
	<a class="btn btn-success" href="/request_an_invite"> Request An Invite for Private Data </a>
	{% endif %}
</div>
{% endblock %}