@charset "UTF-8";
@font-face {
  font-family: 'Blenda';
  font-style: normal;
  font-weight: normal;
  src: url('/static/fonts/blenderpro-medium-webfont.ttf') format('truetype');
}
			body{
				font-family:'Blenda';
				font-weight:500;
				font-size:12px;
				background:#F0FBFF;
			}
			body.black{
				background:#222;
				font-family: 'Blenda';
			}
			#particles-js{
				position:fixed;
				z-index:0;
				width:100%;
			}
			.aw{
				color:white;
				z-index:1;
				width:100%;
				height:72.75vh;
				overflow:hidden;
				background: linear-gradient(
      				rgba(0, 0, 0, .2), 
      				rgba(0, 0, 0, .9)
    			),url('/static/img/geoawopt.jpg');
				background-size: 100%;
			}
			.bw{
				height: calc( 27.25vh);
				width:100%;
				filter: alpha(opacity=75);
			    -moz-opacity: 0.75;
			    -khtml-opacity: 0.75;
			    opacity: 0.75;
			    background: linear-gradient(
      				rgba(0, 0, 0, 1), 
      				rgba(0, 0, 0, .2)
    			),url('/static/img/blackstreets-min.jpg');
			    -webkit-transition: all .5s ease-in-out;
			    -moz-transition: all .5s ease-in-out;
			    -o-transition: all .5s ease-in-out;
			    transition: all .5s ease-in-out;
			}
			.bw:hover{filter:alpha(opacity=90);-moz-opacity:0.9;-khtml-opacity:0.9;opacity:0.9;}
			label{
				font-weight: 100;
			}
			textarea{
				color:#111;
			}
			.qw{
				color:white;
				text-align:center;
			}
			.nbr{
				border-radius:0px;
				-moz-border-radius:0px;
				-webkit-border-radius:0px;
			}
			.fcc{
				height:30px;
			}
			.requestinv{
				width:100%;
			}
			.searchaboxicle{
				background:#222;
				height:auto;
				margin-top:150px;
				padding:20px;
				border-radius:2px;
			}
			.gotem{
				margin-top:150px;
				color:white;
				text-align: center;
			}
			.gogo{
				margin-top:10px;
			}
			.boxxicle{
				background:#222;
				font-size:29px;
				text-align:center;
				color:#ddd;
				height:100%;
				margin-top:75px;
			}
			.boxxicle a{
				color:#ddd!important;
			}
			.searchabox{
				margin-top:37vh;
			}
			.searchalogo{
				font-size:30px;
			}
			.searchasb{
				margin-top:20px;
			}
			.aaa{
				text-align:center;
			}
			.qqq{
				margin-top:-5px;
				font-size:15px!important;
			}
			.yyy{
				width:20%;
				margin-left:auto;
				margin-right:auto;
				margin-top:50px;
				position:absolute;
				left: calc( 50% - ( 20% / 2 ) );
			}
			.sbbranding{
				display:block;
				text-align:center;
				width:100%;
				margin-left:26%;
			}
			.sbbelowb{
				text-align:center;
				font-size:14px;
				margin-top:5px;
				margin-bottom:5px;
				display:block;
			}
			.sbimage{
				width:50px;
				height:50px;
				margin-top:-3px;
				float:left;
			}
			.sbimage img{
				max-height:100%;
				max-width:100%;
				display:block;
			}
			.sbimagesm{
				width:30px;
				height:30px;
				float:left;
				margin-top:-4px;
			}
			.sbimagesm img{
				max-height:100%;
				max-width:100%;
				display:block;
			}
			.sbaw{
				float:left;
			}
			.courier{
				font-family:'Courier New';
				font-size:13px;
			}
			.navbar-inverse .navbar-nav>li>a {
			    color: #ddd;
			}
.cd-side-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
.cd-side-nav.nav-is-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s 0s, visibility 0s 0s;
}
@media only screen and (min-width: 768px) {
  .cd-side-nav {
    position: relative;
    float: left;
    width: 110px;
    /* reset style */
    visibility: visible;
    opacity: 1;
  }
}
 
@media only screen and (min-width: 768px) { 
 .cd-main-content .content-wrapper { 
 margin-left: 110px; 
 } 
} 

/* -------------------------------- 

xnugget info 

-------------------------------- */
.cd-nugget-info {
    text-align: center;
    margin: 2em 0;
}

.cd-nugget-info a {
    display: inline-block;
    padding: 1.4em 1.6em;
    background-color: #1784c7;
    border-radius: .25em;
    position: relative;
    font-size: 14px;
    color: #ffffff;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
}

.no-touch .cd-nugget-info a:hover {
    opacity: .8;
}

.cd-nugget-info span {
    vertical-align: middle;
    display: inline-block;
}

.cd-nugget-info span svg {
    display: block;
}

.cd-nugget-info .cd-nugget-info-arrow {
    fill: #ffffff;
}

/* -------------------------------- 

xcarbonads 

-------------------------------- */
#carbonads-container,
#ui8ads-container {
    position: fixed;
    top: 80px;
    right: 5%;
    width: 180px;
    display: none;
    z-index: 1;
}

#carbonads-container .close-carbon-adv,
#carbonads-container .close-ui8-adv,
#ui8ads-container .close-carbon-adv,
#ui8ads-container .close-ui8-adv {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 100%;
    background: rgba(62, 69, 76, 0.8);
    text-indent: 100%;
    overflow: hidden;
    width: 32px;
    height: 32px;
}

#carbonads-container .close-carbon-adv:hover,
#carbonads-container .close-ui8-adv:hover,
#ui8ads-container .close-carbon-adv:hover,
#ui8ads-container .close-ui8-adv:hover {
    background: #3e454c;
}

#carbonads-container .close-carbon-adv::after, #carbonads-container .close-carbon-adv::before,
#carbonads-container .close-ui8-adv::after,
#carbonads-container .close-ui8-adv::before,
#ui8ads-container .close-carbon-adv::after,
#ui8ads-container .close-carbon-adv::before,
#ui8ads-container .close-ui8-adv::after,
#ui8ads-container .close-ui8-adv::before {
    content: '';
    background-color: #fff;
    height: 2px;
    width: 14px;
    position: absolute;
    top: 14px;
    left: 9px;
}

#carbonads-container .close-carbon-adv::after,
#carbonads-container .close-ui8-adv::after,
#ui8ads-container .close-carbon-adv::after,
#ui8ads-container .close-ui8-adv::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#carbonads-container .close-carbon-adv::before,
#carbonads-container .close-ui8-adv::before,
#ui8ads-container .close-carbon-adv::before,
#ui8ads-container .close-ui8-adv::before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#carbonads-container .carbonad,
#carbonads-container .ui8ad,
#ui8ads-container .carbonad,
#ui8ads-container .ui8ad {
    background: rgba(255, 255, 255, 0.9);
    border: none;
    width: 100%;
    height: auto;
    padding: 14px;
    text-align: center;
    border-radius: 0 3px 3px 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#carbonads-container .carbonad .carbon-img img,
#carbonads-container .ui8ad .carbon-img img,
#ui8ads-container .carbonad .carbon-img img,
#ui8ads-container .ui8ad .carbon-img img {
    margin: 0 10px 10px;
    width: 130px;
}

#carbonads-container .carbonad .carbon-text, #carbonads-container .carbonad .carbonad-tag,
#carbonads-container .carbonad .carbon-poweredby,
#carbonads-container .ui8ad .carbon-text,
#carbonads-container .ui8ad .carbonad-tag,
#carbonads-container .ui8ad .carbon-poweredby,
#ui8ads-container .carbonad .carbon-text,
#ui8ads-container .carbonad .carbonad-tag,
#ui8ads-container .carbonad .carbon-poweredby,
#ui8ads-container .ui8ad .carbon-text,
#ui8ads-container .ui8ad .carbonad-tag,
#ui8ads-container .ui8ad .carbon-poweredby {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

#carbonads-container .carbonad .carbon-wrap,
#carbonads-container .ui8ad .carbon-wrap,
#ui8ads-container .carbonad .carbon-wrap,
#ui8ads-container .ui8ad .carbon-wrap {
    display: block;
    width: 100%;
    padding: 0;
}

#carbonads-container .carbonad .carbon-wrap a,
#carbonads-container .ui8ad .carbon-wrap a,
#ui8ads-container .carbonad .carbon-wrap a,
#ui8ads-container .ui8ad .carbon-wrap a {
    color: #1784c7;
    font-size: 13px;
    font-weight: bold;
}

.no-touch #carbonads-container .carbonad .carbon-wrap a:hover, .no-touch
#carbonads-container .ui8ad .carbon-wrap a:hover, .no-touch
#ui8ads-container .carbonad .carbon-wrap a:hover, .no-touch
#ui8ads-container .ui8ad .carbon-wrap a:hover {
    text-decoration: underline;
}

#carbonads-container .carbonad .carbonad-tag,
#carbonads-container .carbonad .carbon-poweredby,
#carbonads-container .ui8ad .carbonad-tag,
#carbonads-container .ui8ad .carbon-poweredby,
#ui8ads-container .carbonad .carbonad-tag,
#ui8ads-container .carbonad .carbon-poweredby,
#ui8ads-container .ui8ad .carbonad-tag,
#ui8ads-container .ui8ad .carbon-poweredby {
    margin-top: 5px;
    color: #3e454c;
}

#carbonads-container .carbonad .carbonad-tag a,
#carbonads-container .carbonad .carbon-poweredby a,
#carbonads-container .ui8ad .carbonad-tag a,
#carbonads-container .ui8ad .carbon-poweredby a,
#ui8ads-container .carbonad .carbonad-tag a,
#ui8ads-container .carbonad .carbon-poweredby a,
#ui8ads-container .ui8ad .carbonad-tag a,
#ui8ads-container .ui8ad .carbon-poweredby a {
    color: #3e454c;
}

#carbonads-container .carbonad .carbonad-tag a:hover,
#carbonads-container .carbonad .carbon-poweredby a:hover,
#carbonads-container .ui8ad .carbonad-tag a:hover,
#carbonads-container .ui8ad .carbon-poweredby a:hover,
#ui8ads-container .carbonad .carbonad-tag a:hover,
#ui8ads-container .carbonad .carbon-poweredby a:hover,
#ui8ads-container .ui8ad .carbonad-tag a:hover,
#ui8ads-container .ui8ad .carbon-poweredby a:hover {
    color: #1784c7;
}

#carbonads-container .carbonad .carbon-poweredby,
#carbonads-container .ui8ad .carbon-poweredby,
#ui8ads-container .carbonad .carbon-poweredby,
#ui8ads-container .ui8ad .carbon-poweredby {
    display: inline-block;
    font-size: 11px;
    line-height: 15px;
}

@media only screen and (min-width: 1170px) {
    #carbonads-container,
  #ui8ads-container {
        display: block;
    }
}

/* -------------------------------- 

Main Page Content

-------------------------------- */
.cd-main-content .content-wrapper {
    padding: 0px 0 0;
}

.cd-main-content .content-wrapper h1 {
    text-align: center;
    padding: 3em 0 0;
    font-size: 2rem;
}

.cd-main-content::before {
  /* never visible - used to check MQ in jQuery */
    display: none;
    content: 'mobile';
}

@media only screen and (min-width: 768px) {
    .cd-main-content .content-wrapper {
        margin-left: 110px;
        padding-top: 0px;
    }

    .cd-main-content .content-wrapper h1 {
        padding: 4em 0 0;
        font-size: 3.2rem;
        font-weight: 300;
    }

    .cd-main-content::before {
        content: 'tablet';
    }
}

@media only screen and (min-width: 1170px) {
    .cd-main-content .content-wrapper {
        margin-left: 200px;
    }

    .cd-main-content::before {
        content: 'desktop';
    }
}

/* -------------------------------- 

Header

-------------------------------- */
.cd-main-header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
    background: #1D1F22;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cd-main-header::after {
    clear: both;
    content: "";
    display: table;
}

@media only screen and (min-width: 768px) {
    .cd-main-header {
        position: fixed;
        height: 30px;
    }
}

.cd-logo {
    float: left;
    display: block;
    margin: 5px 0 0 5%;
    font-size:18px;
}
.vbvb{
	color:#ddd;
	padding:50px;
}
.cd-logo img {
    display: block;
}

@media only screen and (min-width: 768px) {
    .cd-logo {
        margin: 5px 0 0 15px;
    }
}

.cd-nav-trigger {
  /* navigation trigger - visible on mobile devices only */
    float: right;
    position: relative;
    display: block;
    width: 34px;
    height: 44px;
    margin-right: 5%;
  /* hide text */
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
}

.cd-nav-trigger span, .cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* hamburger icon in CSS */
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 24px;
    background: #ffffff;
}

.cd-nav-trigger span {
  /* line in the center */
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -2px;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    transition: background 0.2s;
}

.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* other 2 lines */
    content: '';
    right: 0;
  /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-transition: -webkit-transform 0.2s;
    -moz-transition: -moz-transform 0.2s;
    transition: transform 0.2s;
}

.cd-nav-trigger span::before {
  /* menu icon top line */
    top: -6px;
}

.cd-nav-trigger span::after {
  /* menu icon bottom line */
    top: 6px;
}

.cd-nav-trigger.nav-is-visible span {
  /* hide line in the center */
    background: rgba(255, 255, 255, 0);
}

.cd-nav-trigger.nav-is-visible span::before, .cd-nav-trigger.nav-is-visible span::after {
  /* keep visible other 2 lines */
    background: white;
}

.cd-nav-trigger.nav-is-visible span::before {
    -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
    -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
    transform: translateX(4px) translateY(-3px) rotate(45deg);
}

.cd-nav-trigger.nav-is-visible span::after {
    -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
    -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
    transform: translateX(4px) translateY(2px) rotate(-45deg);
}

@media only screen and (min-width: 768px) {
    .cd-nav-trigger {
        display: none;
    }
}

.cd-search {
    position: relative;
    margin: 1.2em 5% 0.6em;
}

.cd-search.is-hidden {
    opacity: 0;
}

.cd-search::before {
  /* lens icon */
    content: '';
    position: absolute;
    left: 8px;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    background: url(../img/cd-search.svg) no-repeat 0 0;
}

.cd-search input {
    padding-left: 32px;
    width: 100%;
    height: 36px;
    border: none;
    border-radius: .25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.cd-search input:focus {
    outline: none;
}

@media only screen and (min-width: 768px) {
    .cd-search {
        float: left;
        display: inline-block;
        width: 250px;
        height: 100%;
        margin: 0 0 0 2.5em;
    }

    .cd-search.is-hidden {
    /* reset style */
        opacity: 1;
    }

    .cd-search::before {
        background-position: 0 -16px;
        left: 1em;
    }

    .cd-search form, .cd-search input {
        height: 100%;
        width: 100%;
    }

    .cd-search input {
        border: none;
        padding-left: 2.6em;
        border-radius: 0;
        background-color: #3e454c;
        border-left: 1px solid #51585e;
        color: #ffffff;
    }

    .cd-search input::-webkit-input-placeholder {
        color: #787d82;
    }

    .cd-search input::-moz-placeholder {
        color: #787d82;
    }

    .cd-search input:-moz-placeholder {
        color: #787d82;
    }

    .cd-search input:-ms-input-placeholder {
        color: #787d82;
    }
}

/* -------------------------------- 

Top Navigation

-------------------------------- */
.cd-nav {
  /* top nav - not visible on mobile devices */
    display: none;
}

@media only screen and (min-width: 768px) {
    .cd-nav {
        display: block;
        float: right;
        height: 100%;
    }
}

.cd-top-nav > li > a::before {
  /* reset style */
    display: none;
}

.cd-top-nav > li a {
    padding: 10px 5% !important;
}

.cd-top-nav img {
  /* avatar image */
    position: absolute;
    left: 1.8em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: none;
}

@media only screen and (min-width: 768px) {
    .cd-top-nav {
        height: 100%;
    }

    .cd-top-nav a {
        display: block;
        font-size: 1.4rem;
        color: #eee;
    }

    .cd-top-nav > li {
        display: inline-block;
        margin-right: 1em;
        height: 100%;
    }

    .cd-top-nav > li:last-of-type {
        margin-right: 0;
    }

    .cd-top-nav > li a {
        padding: 1px 5px !important;
        margin-top:-10px;
    }

    .cd-top-nav img {
        display: block;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-top-nav li:not(.has-children) a:hover {
        color: #fff;
    }
}

/* -------------------------------- 

Sidebar

-------------------------------- */
.cd-side-nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 45px 0 0;
    background-color: #2c3136;
    visibility: hidden;
    opacity: 0;
    max-height: 100vh;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
    transition: opacity 0.2s 0s, visibility 0s 0.2s;
}

.cd-side-nav.nav-is-visible {
    opacity: 1;
    visibility: visible;
    overflow: visible;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s;
    max-height: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.cd-side-nav > ul {
    padding: 0.6em 0;
}

.cd-side-nav > ul:last-of-type {
    padding-bottom: 0;
}

.cd-side-nav .cd-label, .cd-side-nav a {
    display: block;
    padding: 1em 5%;
}

.cd-side-nav .cd-label {
    text-transform: uppercase;
    font-weight: bold;
    color: #656a70;
    font-size: 1rem;
    letter-spacing: .1em;
}

.cd-side-nav a {
    position: relative;
    color: #ffffff;
    font-size: 1.4rem;
}

.cd-side-nav ul.cd-top-nav > li:last-of-type > a {
    border-bottom: none;
}

.cd-side-nav > ul > li > a {
    padding-left: calc(5% + 24px);
    border-bottom: 1px solid #373d44;
}

.cd-side-nav > ul > li > a::before {
  /* icon before item name */
    position: absolute;
    content: '';
    left: 5%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    /*background: url(../img/cd-nav-icons.svg) no-repeat 0 0;*/
}

.cd-side-nav > ul > li.overview > a::before {
    background-position: -64px 0;
}

.cd-side-nav > ul > li.notifications > a::before {
    background-position: -80px 0;
}

.cd-side-nav > ul > li.comments > a::before {
    background-position: -48px 0;
}

.cd-side-nav > ul > li.bookmarks > a::before {
    background-position: -32px 0;
}

.cd-side-nav > ul > li.images > a::before {
    background-position: 0 0;
}

.cd-side-nav > ul > li.users > a::before {
    background-position: -16px 0;
}

.cd-side-nav .count {
  /* notification badge */
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: calc(5% + 16px + 0.4em);
    padding: 0.2em 0.4em;
    background-color: #ff7e66;
    border-radius: .25em;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.cd-side-nav .action-btn a {
    display: block;
    margin: 0 5%;
    padding: 1em 0;
    background-color: #1784c7;
    border-radius: .25em;
    border: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

.cd-side-nav .action-btn a::before {
    display: none;
}

@media only screen and (min-width: 768px) {
    .cd-side-nav {
        position: relative;
        float: left;
        top: auto;
        width: 110px;
        min-height: 100vh;
        padding-top: 55px;
    /* reset style */
        visibility: visible;
        opacity: 1;
        overflow: visible;
        max-height: none;
    }

    .cd-side-nav.nav-is-visible {
        box-shadow: none;
    }

    .cd-side-nav.is-fixed {
        position: fixed;
    }

    .cd-side-nav > ul {
    /* reset style */
        padding: 0;
    }

    .cd-side-nav .cd-label {
    /* remove labels on minified version of the sidebar */
        display: none;
    }

    .cd-side-nav a {
        font-size: 1.2rem;
        text-align: center;
    }

    .cd-side-nav > ul > li > a {
        padding: calc(2.2em + 24px) 0 2.4em;
    }

    .cd-side-nav > ul > li > a::before {
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 2.4em;
    }

    .cd-side-nav .active > a {
    /* current page */
        box-shadow: inset 3px 0 0 #1784c7;
        background-color: #33383e;
    }

    .cd-side-nav .action-btn a {
        margin: 1em 10% 0;
    }

    .cd-side-nav .count {
        height: 8px;
        width: 8px;
        border-radius: 50%;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        padding: 0;
        top: 2em;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        left: calc(50% + 5px);
        right: auto;
        color: transparent;
    }
}

@media only screen and (min-width: 1170px) {
    .cd-side-nav {
        width: 200px;
    }

    .cd-side-nav > ul {
        padding: 0.6em 0;
    }

    .cd-side-nav > ul > li:not(.action-btn):hover > a {
        background-color: #33383e;
    }

    .cd-side-nav > ul > li > a {
        padding: 1em 1em 1em 42px;
        text-align: left;
        border-bottom: none;
    }

    .cd-side-nav > ul > li > a::before {
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 18px;
    }

    .cd-side-nav .cd-label {
        display: block;
        padding: 1em 18px;
    }

    .cd-side-nav .action-btn {
        text-align: left;
    }

    .cd-side-nav .action-btn a {
        margin: 0 18px;
    }

    .no-touch .cd-side-nav .action-btn a:hover {
        background-color: #1a93de;
    }

    .cd-side-nav .count {
    /* reset style */
        color: #ffffff;
        height: auto;
        width: auto;
        border-radius: .25em;
        padding: .2em .4em;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 18px;
        left: auto;
        box-shadow: none;
    }
}

.has-children ul {
    position: relative;
    width: 100%;
    display: none;
    background-color: #1c1f22;
}

.has-children > a::after {
  /* arrow icon */
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    right: 5%;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    /* background: url(../img/cd-arrow.svg);*/
}

.has-children.selected > ul {
    display: block;
}

.has-children.selected > a::after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}

@media only screen and (min-width: 768px) {
    .has-children {
        position: relative;
    }

    .has-children ul {
        position: absolute;
        top: 0;
        left: 100%;
        width: 160px;
        padding: 0;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    }

    .has-children ul a {
        text-align: left;
        border: none;
        padding: 1em;
    }

    .no-touch .has-children ul a:hover {
        color: #1784c7;
    }

    .has-children > a::after {
        display: none;
    }

    .cd-side-nav .has-children.selected > a {
    /* focus state -> show sub pages */
        background-color: #33383e;
    }

    .cd-top-nav .has-children {
        position: relative;
        background-color: #2c3136;
    }

    .cd-top-nav .has-children > a {
        height: 100%;
        padding: 0 calc(1.8em + 22px) 0 calc(1.8em + 26px) !important;
        line-height: 55px;
    }

    .cd-top-nav .has-children > a::after {
        display: block;
        right: 1.8em;
    }

    .cd-top-nav .has-children ul {
        background-color: #1c1f22;
        width: 200px;
        top: 100%;
        right: 0;
        left: auto;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    }

    .cd-top-nav .has-children ul a {
        padding-left: 18px !important;
    }
}

@media only screen and (min-width: 1170px) {
    .has-children > ul {
        width: 100%;
        z-index: 1;
    }

    .has-children ul a {
        padding-left: 18px;
    }

    .has-children.active > ul {
    /* if the item is active, make the subnavigation visible */
        position: relative;
        display: block;
    /* reset style */
        left: 0;
        box-shadow: none;
    }

    .no-touch .cd-side-nav .has-children:hover > ul, .cd-side-nav .has-children.hover > ul {
    /* show subnavigation on hover */
        display: block;
        opacity: 1;
        visibility: visible;
    }
}
body{
	width:100%;
	height:100%;
	font-family:'Blenda';
	background:#222;	
}
.black a{
	color:#eee;
}
.black a:hover{
	color:#fff;
	text-decoration:none;
}
.navbar-inverse .navbar-brand{
	color:#eee;
	font-weight:100;
	margin-left:8px;
}
.form-control-90{
	width:90%;
	float:left;
	height:30px;
	border-radius:0px;
}
.w10{
	width:10%;
	float:left;
	height:30px;
	border:none;
	background:#181818;
	color:#ABCBFC;
}
.w10:hover{
	background:#111;
	color:#fff;
}
.form-control-custom{
	font-size:12px;
	margin-top:5px;
}
.search-query{
	height:21px;
}
.igb{
	height:21px;
	padding:5px 5px;
	margin-top:5px;
}
#wiki-search-form{
	margin-top:2px;
}
.input-group-btn{
	height:21px;
}
.navbar{
	height:35px;
	min-height:35px;
}
.navbar-brand{
	padding:6.5px;
	float:left;
}
.headera{
	background: #1D1F22;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
    z-index:999999;
}
.nav>li>a{
	padding:2px 5px;
	margin:5px 5px;
	font-size:14px;
}
.navbar-nav>li>a {
	padding:2px 10px!important;
}
.btn{
	padding:2px 5px!important;
}
.awimg{
	width:20px;
	height:20px;
	float:left;
	margin-top:1px;
}
.awimg img{
  	max-width:100%;
  	max-height:100%;
  	display:block;
  	margin:auto;
  	float:left;
}
.awlogo{
	margin-left:3px;
}