<html>
	<head>
		<title>
			AfricanaWiki Data
		</title>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
		
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>	

		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"></script>

		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.1/bootstrap-social.min.css"></script>

		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	</head>
	<body class="black">
        <nav style="max-height:2px;min-height:1px;overflow:auto;border-bottom:2px solid #0032A3;" role="banner">
                
            </nav>
		<div class="qw col-md-4 col-md-offset-4" style="margin-top:150px;">
			
			{% block content %}
			
		
			{% endblock %}
		</div>
	</body>
</html>