{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In to AfricanaWiki Data" %}{% endblock %}

{% block content %}

<h2>{% trans "Sign In to AfricanaWiki Data" %}</h2>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction btn btn-success" type="submit">{% trans "Sign In" %}</button>
</form>

<script>

      $("input").each(function(i, item) {

                    if (!$(item).hasClass('form-control')) {
                        if (item.type !== 'checkbox') {
                            $(item).addClass('form-control nbr fcc');
                        }
                    }
                    if (item.value !== "") {
                        item.title = item.placeholder;
                        $(item).attr('data-toggle', 'tooltip');
                    }
                    $('label[for="id_login"]').remove();
                    $('label[for="id_password"]').remove();

                });
      </script>

{% endblock %}