{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-success">{% trans "Sign Up" %} &raquo;</button>
</form>

<script>

      $("input").each(function(i, item) {

                    if (!$(item).hasClass('form-control')) {
                        if (item.type !== 'checkbox') {
                            $(item).addClass('form-control nbr fcc');
                        }
                    }
                    if (item.value !== "") {
                        item.title = item.placeholder;
                        $(item).attr('data-toggle', 'tooltip');
                    }
                    $('label[for="id_username"]').remove();
                    $('label[for="id_email"]').remove();
                    $('label[for="id_password1"]').remove();
                    $('label[for="id_password2"]').remove();

                });
      </script>

{% endblock %}